# Files moved for deletion
/.trash/

# Environment file
/.env

# Docker container home files
/.composer/
/.ash_history
/.drush/
/.console/

# Composer vendors.
/vendor/

# Drupal files
/web/core
/web/modules/contrib/*
/web/sites/default/settings.php
/web/sites/default/files
